.hero-section {
    background: url(../../img/banners/hero.jpg) no-repeat center;
    background-size: cover;
    border-radius: 20px;
    height: 500px;
    position: relative;
    
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 6rem;
}
.hero-content {
    color: #ffffff;
    text-align: center;
    max-width: 370px;

}

.hero-content .hero-subtitle {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.25rem;
    display: block;
   
}

.hero-content .hero-title {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.87rem;
    line-height: 36px;
        margin-bottom: 40px;
        letter-spacing: 3px;
}

.hero-buttons{
    display: flex;
    gap: 16px;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;    
    color: #ffffff;
    font-weight: 400;
     padding: 10px 20px;
     transition: background-color 0.3s ease;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 23px;
   
}

.btn-filled{
    background-color: #ffffff;
    
    color: #6329A2;
   
}

.btn:hover{
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
    cursor: pointer;
}

@media (max-width: 768px) {
    .hero-section{
        height: 600px;
       
        background-position: calc(30%);
    }

    .hero-overlay{
        padding: 0;
    }

    .hero-content .hero-title{
        font-size: 1.25rem;
    }

    .hero-content .hero-subtitle{
        font-size: 1.25rem;
    }

    .hero-content{
        margin: 0 auto;
        max-width: 330px;
    }

    .btn{
        font-size: 1.2rem;
    }
}