.hero-section {
    background: url(../../img/banners/hero.jpg) no-repeat center;
    background-size: cover;

    height: 500px;
    position: relative;
}

.hero-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 6rem;
}
.hero-content {
    color: #ffffff;
    text-align: center;
    max-width: 370px;

}

.hero-content .hero-subtitle {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.25rem;
    display: block;
   
}

.hero-content .hero-title {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.87rem;
    line-height: 36px;
        margin-bottom: 40px;
        letter-spacing: 3px;
}

.hero-buttons{
    display: flex;
    gap: 16px;
}

.btn{
    font-size: 1.25rem;
    width: 161px;
    height: 48px;
    border-radius: 25px;    
    color: #ffffff;
    font-weight: 400;
     padding: 10px 20px;
}

.btn-outline{
    background-color: transparent;
    border: 2px solid #ffffff;
    line-height: 23px;
   
}

.btn-filled{
    background-color: #ffffff;
    
    color: #9d08b1;
   
}

.btn:hover{
    background-color: #9d08b1;
    color: #ffffff;
    cursor: pointer;
}